.main{
    display: flex;
    flex-direction: column-reverse;
    background-color: blanchedalmond;
}
.flexa{
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin-left: 25%;
}

.flexb{
    background-color: rgb(255, 127, 127);
    height: 100px;
    width: 200px;
    border:  10px solid rgb(238, 255, 0);
}

.flexc{
    background-color: rgb(0, 255, 106);
    height: 100px;
    width: 100px;
    padding: 5%;
}
.flexd{
    background-color: rgb(255, 0, 0);
    overflow: scroll;
    /* overflow: visible; */
    font-style: italic;
    font-weight: bold;
    padding: 2%;
    width: 20%;
    height: 100px;

}