.a img{
    width: 100%;
    height: 20rem;
    /* transform: scale(1.3, 0.4); */
}
.parent{
    display: flex;
}

.b{
    width: 50%;
    border: 4px solid #a3f014;
    border-radius: 10%;
    /* transform: translate(42px, 18px); */
}

.c{
    width: 50%;
    height: 26rem;
    overflow: scroll;
    text-align: justify;
}

.links{
    font-size: 2rem;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a:active {
    text-decoration: underline;
    color: rgb(111, 136, 0);
}

.links a:hover {
    text-decoration: underline;
    color: rgb(2, 136, 0);
}

.links a:visited {
    text-decoration: underline;
    color: rgb(2, 136, 0);
}